*{
    box-sizing: border-box;
    
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
     
}

.banner-img {
    background: rgba(0, 0, 0, 0.4) url(88.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
    background-blend-mode: darken;
    transition: 5s;

    animation-name: mg-move;
    animation-direction: alternate-reverse;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes img-move {
    0% {
        background-image: url(88.jpg);
    }
    100% {
        background-image: url(giphy.gif);
    }
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid #fff;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-text p{
    padding: 0 8%;
    font-family: merienda;
}

a{
    display: inline-block;
    padding:  10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    background-color: #fff;
    color: #000;
    padding: 15px 60px;

}

